{
    "version": 2,
    "configurePresets": [
        {
            "name": "Debug",
            "inherits": "_Debug",
            "hidden": false,
            "environment": {
                "VCPKG_ROOT": "<path to vcpkg>"
            }
        },
        {
            "name": "Release",
            "inherits": "_Release",
            "hidden": false,
            "environment": {
                "VCPKG_ROOT": "<path to vcpkg>"
            }
        }
    ]
  }